LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5

In [4]:
def lesser_of_two_evens(a, b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a, b)
    else:
        return max(a, b)

In [5]:
final_val = lesser_of_two_evens(2,5)
final_val

5

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False

In [19]:
def animal_crackers(text):
    words = text.lower().split()
    return words[0][0] == words[1][0]

In [20]:
val = animal_crackers("Crazy Kangaroo")
val

False

MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
makes_twenty(20,10) --> True
makes_twenty(12,8) --> True
makes_twenty(2,3) --> False

In [36]:
def makes_twenty(a, b):
    return a == 20 or b == 20 or (a + b) == 20

In [37]:
makes_twenty(20,10)

True

In [38]:
makes_twenty(2,3)

False

In [39]:
makes_twenty(12,8)

True

LEVEL 1 PROBLEMS
OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
 
old_macdonald('macdonald') --> MacDonald
Note: 'macdonald'.capitalize() returns 'Macdonald'

In [124]:
def old_macdonald(name):
    if len(name) < 4:
        return "Name too short!"
    return name[0].upper() + name[1:3] + name[3].upper() + name[4:]

In [125]:
old_macdonald('macdonald')
old_macdonald('nathnael')

old_macdonald('mama')

'MamA'

MASTER YODA: Given a sentence, return a sentence with the words reversed
master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

>>> "--".join(['a','b','c'])
>>> 'a--b--c'
This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

>>> " ".join(['Hello','world'])
>>> "Hello world"

In [140]:
def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [141]:
master_yoda('I am home')

'home am I'

ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True
NOTE: abs(num) returns the absolute value of a number

In [143]:
def almost_there(n):
    return (90 <= n <= 110) or (190 <= n <= 210)

In [144]:
almost_there(90)

True

In [145]:
almost_there(104)

True

In [146]:
almost_there(150)

False

In [147]:
almost_there(209)

True

LEVEL 2 PROBLEMS
FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → Fal

In [148]:
def has_33(nums):
    for i in range(len(nums) - 1):
        if nums[i] == 3 and nums[i + 1] == 3:
            return True
    return False

In [149]:
has_33([1, 3, 3])

True

PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [166]:
def paper_doll(text):
    val= ''
    for n in range(len(text)):
        val =val + text[n] * 3
    return val

In [171]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19

In [183]:
def blackjack(a,b,c):
    res = a + b + c
    if res <= 21:
        return res
    elif (res > 21) and 11 in [a,b,c]:
        if res - 10 > 21:
            return 'BUST'
        else:
            return res - 10
    else:
        return 'BUST'

In [184]:
blackjack(9,9,11)

19

In [185]:
blackjack(9,9,9)

'BUST'

In [186]:
blackjack(9,9,11)

19

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
summer_69([1, 3, 5]) --> 9
summer_69([4, 5, 6, 7, 8, 9]) --> 9
summer_69([2, 1, 6, 9, 11]) --> 14

In [295]:
def summer_69(arr):
    val =0
    v = 0
    t= 0
    if 6 in arr:
        for i in range(len(arr) ):
            if arr[i] == 6:
               v =i
            elif arr[i] == 9:
                t =i
        return sum(arr[:v] + arr[t+1:])
    else:
        for i in range(len(arr)):
            val = val + arr[i]
        return val

In [296]:
summer_69([2, 1, 6, 9, 11])

14

In [297]:
summer_69([1, 3, 5])

9

In [298]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [300]:
summer_69([])

0

CHALLENGING PROBLEMS
SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
 spy_game([1,2,4,0,0,7,5]) --> True
 spy_game([1,0,2,4,0,5,7]) --> True
 spy_game([1,7,2,0,4,5,0]) --> False

In [372]:
def spy_game(nums):
    code = [0, 0, 7]
    for num in nums:
        if num == code[0]:
            code.pop(0)
        if not code:
            return True
    return False

In [373]:
spy_game([1,2,4,0,0,7,5])

True

In [374]:
spy_game([1,7,2,0,4,5,0])

False

In [375]:
 spy_game([1,0,2,4,0,5,7])

True

COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number
count_primes(100) --> 25
By convention, 0 and 1 are not prime.

In [572]:
def count_primes(num):
    nums = [2,3,4,5,6,7,8,9]
    val = []
    prime = []
    for i in range(2,num):
        count = 0
        for j in nums:
            #print(f'{i} % {j} = {i % j}')
            if i != j and i % j == 0:
                prime = list(set(prime))
                prime.append(i)
            else :
                val.append(i)
                val = list(set(val))
        
        count = count + i
        if i in prime:
            val.remove(i)
            print(f'{i} is Not Prime numbers')
        else:
            print(f'{i} is A Prime Number')
        print('---------------------------')
        
    return len(val)

In [573]:
count_primes(10)

2 is A Prime Number
---------------------------
3 is A Prime Number
---------------------------
4 is Not Prime numbers
---------------------------
5 is A Prime Number
---------------------------
6 is Not Prime numbers
---------------------------
7 is A Prime Number
---------------------------
8 is Not Prime numbers
---------------------------
9 is Not Prime numbers
---------------------------

4

Just for fun:
PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
print_big('a')

out:   *  
      * *
     *****
     *   *
     *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns.
For purposes of this exercise, it's ok if your dictionary stops at "E".

In [574]:
def print_big(letter):
    patterns = {
        'A': ['  *  ',
              ' * * ',
              '*****',
              '*   *',
              '*   *'],
        'B': ['**** ',
              '*   *',
              '**** ',
              '*   *',
              '**** '],
        'C': [' ****',
              '*    ',
              '*    ',
              '*    ',
              ' ****'],
        'D': ['**** ',
              '*   *',
              '*   *',
              '*   *',
              '**** '],
        'E': ['*****',
              '*    ',
              '***  ',
              '*    ',
              '*****']
    }

    letter = letter.upper()
    if letter in patterns:
        for line in patterns[letter]:
            print(line)
    else:
        print("Letter not supported.")

In [575]:
print_big('a')

  *
 * *
*****
*   *
*   *

In [576]:
print_big('b')

****
*   *
****
*   *
****